.gift-container {
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gift-bg {
  background-image: url(../../../assets/bootstrap/img/background-gift.svg);
  background-position: top center;
  background-repeat: repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}
.is-button-pink {
  line-height: 35px;
  border-radius: 5px;
  border: 1px solid #CC3333;
  background-color: #fff;
  color: #CC3333;
  cursor: pointer;
  text-align: center;
  margin: 20px auto 0;
  transition: background-color .3s;
  max-width: 90%;
  font-size: 14px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .is-button-pink {
    line-height: 35px;
    font-size: 12px;
  }
}

.is-button-pink:hover {
  text-decoration: none;
}

:host ::ng-deep .owl-carousel .owl-item img {
  display: block;
  width: 100px!important;
}

img{
  max-height: 100px;
  display: block;
  margin: 0 auto;;
}
.direct-gift:hover .image {
  transform: scale(1.1) rotate(4deg) translateZ(0);
  transition: transform .4s;
}
.direct-gift:hover .is-button-pink {
  transition: border-color .3s;
  background-color: #CC3333;
  color: #fff;
  text-decoration: none!important;
}
