<nav class="site-nav text-right" dir="rtl">
  <div class="container">
    <div class="site-navigation">
      <a routerLink="/" class="logo">begheymat.com</a>
      <ul class="d-none d-lg-inline-block text-left site-menu">
        <li class="cta-button ml-3"><a routerLink="/sellerBe">راهنمای ثبت نام</a></li>
        <li class="cta-button ml-3"><a routerLink="/sellerBe">آموزش پنل فروشندگان</a></li>
        <li class="cta-button ml-3"><a routerLink="/sellerBe/login">ورود به پنل فروشندگان</a></li>
      </ul>
      <ul class="d-none d-lg-inline-block text-left site-menu float-left">
        <li class="cta-button">
          <a routerLink="/sellerBe/register" target="_blank" class="">ثبت نام</a>
        </li>
      </ul>
      <a class="mr-auto float-left d-inline-block d-lg-none" (click)="showMenu()">
        <i class="fa fa-bars fa-2x text-white"></i>
      </a>
    </div>
  </div>
</nav>


<div class="hero">
  <div class="container">
    <div class="row align-items-center justify-content-between pt-sm-only">
      <div class="col-sm-12 col-lg-6 intro text-right">
        <h1 class="text-white font-weight-bold mb-4">
          در به قیمت
          فروشنده شو
        </h1>
        <p class="text-white mb-4">
          فروشگاه اینترنتی به قیمت، موقعیتی را برای فروشندگان فراهم کرده تا اجناسشان را به شکل اینترنتی به‌فروش برسانند. به این ترتیب تولیدکنندگان یا واردکنندگان کالا و همچنین کسانی که محصولات خانگی تولید می‌کنند می‌توانند از ویترین بزرگ به قیمت برای فروش محصولاتشان استفاده کنند.
        </p>
      </div>
      <div class="col-sm-12 col-lg-6 text-center">
        <img height="300px" src="assets/bootstrap/img/sellerBe.png" alt="Image" >
      </div>
    </div>
  </div>
  <div class="slant" style="background-image:url(assets/bootstrap/img/slant.svg)"></div>
</div>


<p-sidebar class="menuSidebar" Scroll [(visible)]="displayMobileMenu" [blockScroll]="true" [modal]="true"
           position="right">
  <div class=" text-center">
    <img height="35px"  src="./assets/bootstrap/img/svg/logo.svg" >
  </div>
  <div class="d-flex flex-column mt-5">
    <div class="mb-auto">
      <ul class="mobile-menu text-right site-menu">
        <li><a routerLink="/sellerBe">راهنمای ثبت نام</a></li>
        <li><a routerLink="/sellerBe">آموزش پنل فروشندگان</a></li>
        <li><a routerLink="/sellerBe/login">ورود به پنل فروشندگان</a></li>
        <li><a routerLink="/sellerBe/register">ثبت نام</a></li>
      </ul>
    </div>
  </div>
</p-sidebar>
