.block-features__list {
  border: none;
  display: flex;
  justify-content: space-around;
}
.col{
  padding: 0px;
}
.features-item {
  background: #ffffff;
  max-width: 200px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 10px 20px 20px;
  margin-left: 5px!important;
  margin-right: 5px !important;
}

.features-icon {
  margin-left: 0;
}
.features-icon {
   margin-bottom: 10px;
 }
.block-features__content {
  padding-top: 2px;
}
.features-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: IRANSans_Bold;
  direction: rtl;
}
.features-subtitle {
  font-size: 12px;
  font-family: IRANSans_Bold;
  direction: rtl;
}
.features-icon {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  fill: #EF2B2F;
}
