<div class="container-fluid mt-4">
  <div class="row slider" dir="rtl">
    <div class="col-sm-12 col-lg-8">

      <owl-carousel-o [options]="customOptions" dir="ltr" style="border-radius: 20px">
        <ng-template carouselSlide>
          <img src="./assets/bootstrap/img/banner/banner.png" alt="first slide" class="slider-image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/bootstrap/img/banner/banner1.png" alt="first slide" class="slider-image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/bootstrap/img/banner/banner2.png" alt="first slide" class="slider-image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/bootstrap/img/banner/banner3.png" alt="first slide" class="slider-image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/bootstrap/img/banner/banner4.png" alt="first slide" class="slider-image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/bootstrap/img/banner/banner5.png" alt="first slide" class="slider-image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/bootstrap/img/banner/banner6.png" alt="first slide" class="slider-image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/bootstrap/img/banner/banner7.png" alt="first slide" class="slider-image">
        </ng-template>
      </owl-carousel-o>
      <!--    <carousel style="border-radius: 20px">-->
      <!--      <slide>-->
      <!--        <img src="./assets/bootstrap/img/2.jpg" alt="first slide" class="slider-image">-->
      <!--        <div class="carousel-caption d-none d-md-block">-->
      <!--          <h3>First slide label</h3>-->
      <!--          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
      <!--        </div>-->
      <!--      </slide>-->
      <!--      <slide>-->
      <!--        <img src="./assets/bootstrap/img/3.jpg" alt="second slide" class="slider-image">-->
      <!--        <div class="carousel-caption d-none d-md-block">-->
      <!--          <h3>First slide label</h3>-->
      <!--          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
      <!--        </div>-->
      <!--      </slide>-->
      <!--      <slide>-->
      <!--        <img src="./assets/bootstrap/img/1.jpg" alt="third slide" class="slider-image">-->
      <!--      </slide>-->
      <!--    </carousel>-->
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="row">
        <div class="col-sm-6 col-lg-12">
          <img src="./assets/bootstrap/img/banner/image-side1.jpg" class="image-box">
        </div>
        <div class="col-sm-6 col-lg-12 mt-2">
          <img src="./assets/bootstrap/img/banner/image-side2.jpg" class="image-box">
        </div>
      </div>
    </div>
  </div>
</div>

