.container-fluid{
  height: 100vh;
  padding: 0px !important;
}
.container-fluid .col-md-4 {
  box-shadow: 0px 0px 21px 15px #fdfcfc;
  margin-top: 50px;
  border: 1px solid #f5f0f0b8;
}
:host::ng-deep.mat-card>:first-child, .mat-card-content>:first-child {
  margin-top: 0;
  font-family: IRANSans_Bold;
}
:host::ng-deep h5, .h5 {
  font-size: 18px;
  font-family: Byekan;
  line-height: 2;
  font-weight: 700;
  color: #777777;
}
input {
  width: 100%;
  padding: 6px;
  font-size: 20px;
  margin-top: 5px;
  border: #33b5e5 solid 1px;
  font-family: IRANSans_Light;
  border-radius: 5px;
}
input::placeholder{
  font-family: IRANSans_Light;
  text-align: right;
  font-size: 14px;
  color: #777777;
}
input:hover{
  border: #33b5e5 solid 1px!important;
}
:host::ng-deep .p-button {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 13px;
  font-family: IRANSans_Bold;
  font-size: 15px;
}
:host::ng-deep.mat-card-footer {
  display: block;
  margin: 0 -16px -16px -16px;
  text-align: center;
  font-size: 15px;
  font-family: IRANSans_Light;
  line-height: 2;
}
:host::ng-deep a:hover, a:focus {
  text-decoration: none;
  color: #ffffff;
}

mat-card-title{
  display: flex;
 /*justify-items: center;*/
 justify-content: center;
}
.headerText{
  font-family: mitra-font;
}
