:host::ng-deep.p-inputtext {
  /*border: 1px solid #bdbdbd ;*/
}
.titlePanel{
  font-family: IRANSans_Bold;
}
.subTitlePanel{
  font-family: IRANSans_Light;
}
:host::ng-deep.p-panel .p-panel-header {
  border: 1px solid #dee2e6;
  background: #0099CC!important;
  color: white!important;
}
:host::ng-deep.p-panel .p-panel-content {
  /*border: 1px solid #0099CC!important; ;*/
}
:host::ng-deep.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  text-align: right!important;
  margin-right: 20px!important;
}
:host::ng-deep.p-dropdown .p-dropdown-clear-icon {
  right: 1rem!important;
}
:host::ng-deep.p-dropdown-panel .p-dropdown-items {
  font-family: IRANSans_Bold!important;
  text-align: right!important;
}
label,input{
  font-family: IRANSans_Light;
}
:host::ng-deep.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  font-family: IRANSans_Light!important;
}
:host::ng-deep.p-tabview-nav{
  background-color: #546e7a!important;
}
:host::ng-deep.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  background-color:#546e7a!important;
  color: white!important;
}

:host::ng-deep.p-tabview .p-tabview-panels{
  background-color:#eceff1!important;
}

