.wishlist-container {
  background-color: white;
  border-radius: 20px;
}
.wishlist {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  padding: 20px;
  font-family: IRANSans_Bold!important;
}
.wishlist-head {
  background: #f7f7f7;
  font-size: 15px;
}
.wishlist-head .wishlist-column:last-child, .wishlist-head .wishlist-column:first-child {
  border-top-right-radius: 2.5px;
}
.wishlist-head .wishlist-column {
  font-weight: 500;
}
@media (min-width: 768px)
{
  .wishlist-body .wishlist-row:last-child .wishlist-column {
    border-bottom: 1px solid #ebebeb;
  }
  .product-image {
    width: 80px;
  }
 .wishlist-column-image {
    padding-left: 4px;
  }
  .wishlist-body .wishlist-column {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .wishlist-column {
    padding: 12px 18px;
    border-top: 1px solid #ebebeb;
  }
}
.product-image-body {
  display: block;
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}
.product-image-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}
.product-name {
  color: inherit;
}
@media (max-width: 767px) {
  .wishlist-head {
    display: none;
  }
  .wishlist-body {
    display: block;
  }
  .wishlist-row {
    position: relative;
    width: 100%;
    display: block;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    padding: 20px 20px 24px;
  }
  .wishlist-column {
    display: block;
    padding: 0;
  }
  .wishlist-column-image {
    text-align: center;
    display: block;
  }
  .wishlist-column--image .product-image {
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
  }
  .wishlist-column {
    text-align: center;
    margin-top: 10px;
  }
  .wishlist-row {
    position: relative;
    width: 100%;
    display: block;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    padding: 20px 20px 24px;
    margin-top: 15px;
  }
  .wishlist-column-remove {
    position: absolute;
    top: 5px;
    left: 5px;
    margin-top: 0px;
  }
}
.btn-remove {
  border-color: #e5e5e5!important;
  background: #e5e5e5!important;
  color: #3d464d!important;
  fill: #3d464d!important;
  box-shadow: none;
}
.badge{
  border-radius: 1.5px;
  font-weight: 500;
  padding: .5em .75em;
  font-size: 12px;
}
.btn-primary{
  font-size: 13px;
}

