
h1.greenColor {
  color: #88B04B;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 10px;
}
h1.redColor{
  color: #EF2B2F;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 10px;
}
p {
  color: #404F5E;
  font-size:20px;
  margin: 0;
}
i.greenColor {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
i.redColor {
  color: #EF2B2F;
  font-size: 100px;
  line-height: 200px;
  margin-left:-15px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  font-family: IRANSans_Bold;
}

h1, button, p{
    font-family: IRANSans_Bold;
}

h1{
  font-size: 20px;
  text-align: center;
}

p{
  font-size: 18px;
  text-align: center;
}
.checkmark{
  position: relative;
  width: auto;
  border-radius: 50%;
  background-color: #F8FAF5;
}



.container.paper-style {
  max-width: 380px;
  margin: 50px auto;
  overflow: hidden;
  font-family: IRANSans_Bold;
}
.printer-top {
  z-index: 1;
  border: 6px solid #666666;
  height: 6px;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  background: #333333;
}
.printer-bottom {
  z-index: 0;
  border: 6px solid #666666;
  height: 6px;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  background: #333333;
}
.paper-container {
  position: relative;
  overflow: hidden;
  height: 467px;
}
.paper {
  background: #ffffff;
  height: 447px;
  position: absolute;
  z-index: 2;
  margin: 0 12px;
  margin-top: -12px;
  animation: print 1800ms cubic-bezier(0.68, -0.55, 0.265, 0.9) infinite;
  -moz-animation: print 1800ms cubic-bezier(0.68, -0.55, 0.265, 0.9) infinite;
}
.main-contents {
  margin: 0 12px;
  padding: 24px;
}
.jagged-edge {
  position: relative;
  height: 20px;
  width: 100%;
  margin-top: -1px;
}
.jagged-edge:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%);
  background-size: 16px 40px;
  background-position: 0 -20px;
}
.success-icon {
  text-align: center;
  font-size: 48px;
  height: 72px;
  background: #359d00;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin: 16px auto;
  color: #fff;
  line-height: 80px;
}

.success-icon {
  text-align: center;
  font-size: 48px;
  height: 72px;
  background: #359d00;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin: 16px auto;
  color: #fff;
  line-height: 80px;
}

.success-icon.redColor{
  background: #EF2B2F;
}
.success-title {
  font-size: 20px;
  text-align: center;
  color: #666;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.success-description {
  font-size: 15px;
  line-height: 21px;
  color: #999;
  text-align: center;
  margin-bottom: 30px;
}
.order-details {
  text-align: center;
  color: #333;
  font-weight: bold;
}
.order-details .order-number-label {
  font-size: 18px;
  margin-bottom: 8px;
}
.order-details .order-number {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 38px;
  font-size: 38px;
  padding: 12px 0;
  margin-bottom: 24px;
}
.order-footer {
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #999;
}

/*.btn-secondary:hover{*/
/*  background-color: #EF2B2F !important;*/
/*  font-size: unset;*/
/*  font-weight: unset;*/
/*  border: #EF2B2F 1px solid !important;*/
/*}*/
