
  <div class="container" dir="rtl" *ngIf="success">
    <div class="row mt-5 justify-content-center">
      <div class="col-sm-12 col-md-6 mt-5 align-items-center">
        <div class="row justify-content-center">
          <div class="col-12 align-self-center">
            <div class="image mt-3">
              <a routerLink="/">
                <img src="/assets/bootstrap/img/begheymat.png" width="180px" class="d-block m-auto mb-5">
              </a>
            </div>
          </div>
          <div class="col-12 align-self-center">
            <div class="card mt-3">
              <div class="row justify-content-center">
                <div class="col col-md-6 align-self-center">
                  <div class="checkmark text-center">
                    <i class="fa fa-check greenColor"></i>
                  </div>
                </div>
                <div class="col-12 align-self-center">
                  <h1 class="mt-4 greenColor"> پرداخت با موفقیت انجام شد</h1>
                  <p class="mt-3">   بسیار خوشنودیم که 'به قیمت' را برای خرید خود، انتخاب کردید.</p>

                  <button class="btn btn-secondary d-block mx-auto mt-5">بازگشت به پنل کاربری</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" dir="rtl" *ngIf="!success">
    <div class="row mt-5 justify-content-center">
      <div class="col-sm-12 col-md-6 mt-5 align-items-center">
        <div class="row justify-content-center">
          <div class="col-12 align-self-center">
            <div class="image mt-3">
              <a routerLink="/">
                <img src="/assets/bootstrap/img/begheymat.png" width="180px" class="d-block m-auto mb-5">
              </a>
            </div>
          </div>
          <div class="col-12 align-self-center">
            <div class="card mt-3">
              <div class="row justify-content-center">
                <div class="col col-md-6 align-self-center">
                  <div class="checkmark text-center">
                    <i class="fa fa-times redColor"></i>
                  </div>
                </div>
                <div class="col-12 align-self-center">
                  <h1 class="mt-4 redColor"> پرداخت انجام نشد</h1>
                  <p class="mt-3">   متاسفانه مشکلی رخ داده است. لطفا مجددا تلاش کنید.</p>

                  <button class="btn btn-secondary d-block mx-auto mt-5">بازگشت به پنل کاربری</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--<div class="container paper-style" dir="rtl" *ngIf="success">-->
<!--  <a routerLink="/">-->
<!--    <img src="/assets/bootstrap/img/begheymat.png" width="180px" class="d-block m-auto mb-5">-->
<!--  </a>-->
<!--  <div class="printer-top mt-5"></div>-->
<!--  <div class="paper-container">-->
<!--    <div class="printer-bottom"></div>-->

<!--    <div class="paper">-->
<!--      <div class="main-contents">-->
<!--        <div class="success-icon"><i class="fa fa-check"></i></div>-->
<!--        <div class="success-title">-->
<!--          پرداخت با موفقیت انجام شد-->
<!--        </div>-->
<!--        <div class="success-description">-->
<!--         بسیار خوشنودیم که 'به قیمت' را برای خرید خود، انتخاب کردید.-->
<!--        </div>-->
<!--        <div class="order-details">-->
<!--          <div class="order-number-label">کد پیگیری</div>-->
<!--          <div class="order-number">123456789</div>-->
<!--        </div>-->
<!--        <div class="order-footer"><button class="btn btn-secondary">بازگشت به پنل کاربری</button></div>-->
<!--      </div>-->
<!--      <div class="jagged-edge"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container paper-style" dir="rtl" *ngIf="!success">-->
<!--  <a routerLink="/">-->
<!--    <img src="/assets/bootstrap/img/begheymat.png" width="180px" class="d-block m-auto mb-5">-->
<!--  </a>-->
<!--  <div class="printer-top mt-5"></div>-->
<!--  <div class="paper-container">-->
<!--    <div class="printer-bottom"></div>-->

<!--    <div class="paper">-->
<!--      <div class="main-contents">-->
<!--        <div class="success-icon redColor"><i class="fa fa-times"></i></div>-->
<!--        <div class="success-title">-->
<!--          پرداخت انجام نشد-->
<!--        </div>-->
<!--        <div class="success-description">-->
<!--          متاسفانه مشکلی رخ داده است. لطفا مجددا تلاش کنید.-->
<!--        </div>-->
<!--        <div class="order-footer"><button class="btn btn-secondary mt-5">بازگشت به پنل کاربری</button></div>-->
<!--      </div>-->
<!--      <div class="jagged-edge"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
