

<p-table [value]="UserModels" #dt [columns]="cols" [paginator]="true" [rows]="20">
  <ng-template pTemplate="caption">
    <div class="alert alert-warning text-center"> لیست خریدها</div>

  </ng-template>
  <ng-template pTemplate="header">
    <tr class="title-table">
      <th style="width: 30%" class="text-center">ردیف</th>
      <th style="width: 70%" class="text-center">نام کالا </th>
      <th style="width: 70%" class="text-center">تعداد کالا </th>
      <th style="width: 70%" class="text-center">قیمت</th>
      <th style="width: 70%" class="text-center">تخفیف</th>
      <th style="width: 70%" class="text-center">قیمت کل</th>

    </tr>
<!--    <tr>-->
<!--      <th></th>-->
<!--      <th *ngFor="let col of cols" [ngSwitch]="col.field" >-->
<!--        <input style="width: 100%" class="input-filter text-center" placeholder="جستجوی  " *ngSwitchCase="'candidateNumber'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">-->
<!--        <input  style="width: 100%" class="input-filter text-center " placeholder="جستجوی  " *ngSwitchCase="'nationalCode'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">-->
<!--        <input  style="width: 100%" class="input-filter text-center" placeholder="جستجوی " *ngSwitchCase="'firstName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">-->
<!--      </th>-->
<!--    </tr>-->
  </ng-template>
  <ng-template pTemplate="body" let-basket let-rowIndex="rowIndex">
    <tr>
      <td class="text-center">{{rowIndex + 1}}</td>
      <td class="text-center">{{basket.product[0].title}}</td>
      <td class="text-center">{{basket.count}}</td>
      <td class="text-center">{{basket.price}}</td>
      <td class="text-center">{{basket.offerPercent}}%</td>
      <td class="text-center">{{(basket.price*basket.count)-((basket.price*basket.count)*basket.offerPercent)/100}}</td>

    </tr>
  </ng-template>

</p-table>

