<p-toast position="center"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<p-tabView dir="rtl">
  <p-tabPanel>
    <ng-template pTemplate="header"><i class="pi pi-comments p-pl-3 text-white" style="font-size: 1rem"></i> مدیریت دیدگاه ها </ng-template>
    <div id="printSectionId" #table dir="rtl">
      <p-table [value]="comments" selectionMode="single" #dt [paginator]="true" [rows]="4" >
        <ng-template pTemplate="header">
          <tr class="title-table">
            <th class="text-center">ردیف</th>
            <th class="text-center">کاربر</th>
            <th class="text-center">متن دیدگاه</th>
            <th class="text-center">عملیات</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comment let-rowIndex="rowIndex">
          <tr>
            <td class="text-center">{{rowIndex + 1}}</td>
            <td class="text-center">{{comment.userName}}</td>
            <td class="text-center">{{comment.commentText}}</td>
            <td class="text-center">
              <button pButton pRipple icon="pi pi-check"
                      (click)="active(comment._id)" [disabled]="comment.active === false"
                      class="p-button-rounded p-button-success p-ml-2 text-white"></button>
              <button pButton pRipple (click)="delete(comment._id)"
                      icon="pi pi-trash" class="p-button-rounded p-button-danger text-white"></button>

            </td>
          </tr>
        </ng-template>

      </p-table>

    </div>

  </p-tabPanel>


</p-tabView>
