<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <span>نظرات </span>
      <p class="col-md-4 col-md-offset-4">مواد ضد عفونی کننده ارتباط مستقیم با سلامت انسان ها دارد و باعث سلامتی و طول عمر زیاد میشود و در زندگی ما از جایگاه بسار مهمی برخوردار می باشد.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="media col-command">
        <div class="media-right">
          <img src="/assets/bootstrap/img/default-avatar.png" class=" img-circle media-object">
        </div>
        <div class="media-body" style="text-align: justify">
          <span>با عرض سلام و خسته نباشید خدمت تیم بزرگ و حرفه ای داروخانه انلاین با ارزوی موفقیت برای همه اساتید اگه امکانش هست مواد ضد عفونی کننده بیشتری داخل سایت قرار دهید با تشکر</span>
          <p class="pull-left"><a href="#">داروخانه انلاین</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="media col-command">
        <div class="media-right">
          <img src="/assets/bootstrap/img/default-avatar.png" class=" img-circle media-object">
        </div>
        <div class="media-body" style="text-align: justify">
          <span>با عرض سلام و خسته نباشید خدمت تیم بزرگ و حرفه ای داروخانه انلاین با ارزوی موفقیت برای همه اساتید اگه امکانش هست مواد ضد عفونی کننده بیشتری داخل سایت قرار دهید با تشکر</span>
          <p class="pull-left"><a href="#">داروخانه انلاین</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
