
:host::ng-deep.p-card{
  margin: 10px 0px;
  background-color: #ffffff;
  border-radius: 5px;
  border-color: #e0e0e0 ;
  border-style: solid;
  border-width: 0.5px;
  font-family: IRANSans_Bold;
}
.titleProducts{
  font-family: IRANSans_Bold;
  font-size: 15px;
}
.detailProduct{
  font-family: IRANSans_Light;
  font-size: 14px;
}
.btnShopping{
  font-family: IRANSans_Light;
  font-size: 14px;
}
:host::ng-deep.p-card-header{
  margin-bottom: -40px!important;
}
.productContent{
  margin-bottom: -15px;
}
.headerLabel{
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 13px;
  padding: 7px;
}
.imageProduct{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}
.title{
  font-family: IRANSans_Bold;

}
:host::ng-deep.p-card-footer{
  margin: -10px;
  border-top: #e0e0e0 solid 0.5px;
}
:host::ng-deep.p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-up {
  margin-top: 5px;
  height: 30px!important;
  width: 30px!important;
  border-radius: 100px;
}
:host::ng-deep.p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-down {
  margin-top: 5px;
  height: 30px!important;
  width: 30px!important;
  border-radius: 100px;
}
:host::ng-deep.p-inputnumber-buttons-horizontal .p-inputnumber-input {
  margin-top: 3px;
  border-radius: 30px!important;
  height: 34px!important;
  font-family: IRANSans_Bold;
  text-align: center!important;
}
/*:host::ng-deep.ui-tooltip .ui-tooltip-text {*/
/*  background-color: red;*/
/*  color: #fff;*/
/*}*/
:host::ng-deep.alert-tooltip .p-tooltip-text {
  background-color: #ff0000!important;
}
:host::ng-deep.alert-tooltip.p-tooltip-bottom {
  border-bottom-color: #ff0000!important; ;
}

:host::ng-deep.p-panel .p-panel-header {
   border-top: #33b5e5 solid 3px!important;

 }
.card-title{
  font-family: IRANSans_Bold;
  font-size: 13px;
  text-align: right;
}
.card-text{
  font-family: IRANSans_Light;
  font-size: 10px;
  text-align: right;
}
.titleAll{
  font-size: 12px;
  font-family: IRANSans_Light;
}
:host::ng-deep.p-card{
  border-radius: 20px!important;
}
:host::ng-deep.p-tabview-title{
  font-family: IRANSans_Light!important;
}
:host::ng-deep.p-dialog-title{
  margin-left: 70px!important;
  font-family: IRANSans_Light!important;
}

.feature-row{
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}
.feature-row div img {
  max-height: 70px;
}
.feature-row div p {
  color: #777777;
  padding-top: 15px;
}
