<div class="seller-features-section text-right" dir="rtl">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="seller-section-title col-lg-7">
        <strong class="subtitle d-block">مزایای </strong>
        <h2 class="heading font-weight-bold">فروش در به قیمت</h2>
      </div>
    </div>
    <div class="row gutter-v1">
      <div class="text-center col-md-6 col-lg-4">
        <div class="seller-feature">
          <div class="img-wrap mx-auto d-block">
            <img src="" alt="Image" class="img-fluid">
          </div>
          <h3>کاهش هزینه‌های جانبی فروش تا کمترین مقدار</h3>
        </div>
      </div>
      <div class="text-center col-md-6 col-lg-4">
        <div class="seller-feature">
          <div class="img-wrap mx-auto d-block">
            <img src="" alt="Image" class="img-fluid">
          </div>
          <h3>فروش کالای شما در سراسر ایران</h3>
        </div>
      </div>
      <div class="text-center col-md-6 col-lg-4">
        <div class="seller-feature">
          <div class="img-wrap mx-auto d-block">
            <img src="" alt="Image" class="img-fluid">
          </div>
          <h3>فروش محصولات شما در هر ساعت از شبانه روز</h3>
        </div>
      </div>
      <div class="text-center col-md-6 col-lg-4">
        <div class="seller-feature">
          <div class="img-wrap mx-auto d-block">
            <img src="" alt="Image" class="img-fluid">
          </div>
          <h3>تحویل سفارش‌ها به مشتریان توسط پست</h3>
        </div>
      </div>
      <div class="text-center col-md-6 col-lg-4">
        <div class="seller-feature">
          <div class="img-wrap mx-auto d-block">
            <img src="" alt="Image" class="img-fluid">
          </div>
          <h3>تایید ثبت‌نام یکروزه</h3>
        </div>
      </div>
      <div class="text-center col-md-6 col-lg-4">
        <div class="seller-feature">
          <div class="img-wrap mx-auto d-block">
            <img src="" alt="Image" class="img-fluid">
          </div>
          <h3>آموزش رایگان فروش آنلاین</h3>
        </div>
      </div>
    </div>
  </div>
  </div>
<div style="background-color: #F2F5F9">

  <svg style="width: 100%" xmlns="http://www.w3.org/2000/svg" width="1597px" height="215px" viewBox="0 0 1597 215" version="1.1">
    <g transform="translate(0.000000,893.000000) scale(0.100000,-0.100000)" fill="#202040" stroke="none">
      <path d="M0 4465 l0 -4465 33273 1 c18879 0 33263 4 33252 9 -11 5 -14973 2012 -33250 4460 -18277 2448 -33240 4453 -33252 4455 l-23 5 0 -4465z"/>
    </g>
  </svg>

</div>
<div class="seller-faq-dark text-right" dir="rtl">
  <div class="container">
    <div class="row faq-wrap">
      <div class="col-lg-12">
        <div class="faq-item">
          <mat-accordion>
            <mat-expansion-panel style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  شرایط استفاده از کد تخفیف اولین خرید از به قیمت چیست؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                سیستم هوشمند به قیمت، پس از بررسی حساب کاربری در صورتی که مالک آن مشتری جدید به قیمت باشد، امکان استفاده از کد تخفیف خرید اول را ایجاد می کند و در سایر موارد به کاربر متن "کد تخفیف وارد شده، تنها برای کاربران جدید قابل استفاده است و طبق بررسی ها شما به عنوان کاربر جدید شناسایی نشدید" اعلام می شود.
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel  style="border-radius: 5px" opened="true"
                                  closed="false"
                                  class="mat-elevation-z0"
                                  data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چرا به شماره سفارش نیاز داریم؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                به قیمت برای افزایش سرعت پاسخ گویی به مشتریان با دریافت کد سفارش این امکان رو ایجاد کرده که بتونید در زمان کمتری به نتیجه مورد نظر خود برسید
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چطور درخواست خود را جهت بازگردان کالا (مرجوعی کالا) به شما اطلاع دهم؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                وارد پنل کاربری خود، لیست سفارشات، تحویل شده شوید و از قسمت ثبت مرجوعی، درخواست خود را ثبت کنید.
              </p>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #202040">
  <svg style="width: 100%;transform: scale(-1,1);" xmlns="http://www.w3.org/2000/svg" width="1597px" height="215px" viewBox="0 0 1597 215" version="1.1">
    <g transform="translate(0.000000,893.000000) scale(0.100000,-0.100000)" fill="#f2f5f9" stroke="none">
      <path d="M0 4465 l0 -4465 33273 1 c18879 0 33263 4 33252 9 -11 5 -14973 2012 -33250 4460 -18277 2448 -33240 4453 -33252 4455 l-23 5 0 -4465z"/>
    </g>
  </svg>
</div>
<div class="seller-features-lg text-right" dir="rtl">
  <div class="container">
    <div class="row seller-feature align-items-center justify-content-between">
      <div class="col-lg-7 order-lg-2 mb-4 mb-lg-0">
        <img src="assets/bootstrap/img/undraw_make_it_rain_iwk4.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-4 seller-section-title" data-aos-delay="100">
        <strong class="subtitle d-block">کسب</strong>
        <h2 class="font-weight-bold mb-4 heading">
          درامد 24 ساعته
        </h2>
        <p class="mb-4">
          با به قیمت 7 روز هفته 24 ساعته درامد داشته باش
        </p>
        <p><a routerLink="/home/seller/register" class="btn btn-primary">ثبت نام</a></p>
      </div>
    </div>
  </div>
</div>
<div class="seller-features-lg text-right pb-3" dir="rtl">
  <div class="container">
    <div class="row seller-feature align-items-center justify-content-between">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <img src="assets/bootstrap/img/undraw_wallet_aym5.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-4 seller-section-title">
        <strong class="subtitle d-block">صرفه جویی</strong>
        <h2 class="font-weight-bold mb-4 heading">در هزینه های اضافی</h2>
        <p class="mb-4">
          با به قیمت، با حداقل هزینه فروشنده شو و پولاتو جمع کن
        </p>
        <p><a routerLink="/home/seller/register" class="btn btn-primary ">ثبت نام</a></p>
      </div>
    </div>
  </div>
</div>
