<form class="example-form" dir="rtl">
  <div class="c-search" dir="rtl">
<!--  <mat-form-field class="example-full-width" style="width: 100%">-->
    <mat-chip-list #chipList dir="rtl">
<!--      <mat-chip style="margin-top:0.4em;" *ngFor="let option of  this.dataService.searchOption" (removed)="removeOption(option)">-->

<!--        <span>{{option.title}}</span>-->

<!--        <mat-icon matChipRemove>cancel</mat-icon>-->
<!--      </mat-chip>-->
      <input dir="rtl" #autocompleteInput type="text" placeholder="جستجو در به قیمت ..." aria-label="Number"   [formControl]="myControl"
             [matAutocomplete]="auto" [matChipInputFor]="chipList">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event)">
          {{option.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
          <i class="pi pi-search" style="margin-top: -31px;margin-right:-2rem;position: absolute;font-size: 1.2rem"></i>

<!--  </mat-form-field>-->
  </div>
</form>
