<div class="site-header__middle container-fluid">
  <div class="site-header__logo">
    <a class="nuxt-link-exact-active nuxt-link-active" routerLink="/">
      <div class=" text-right logo-img d-block">
        <img style="height:50px" src="./assets/bootstrap/img/logo.png">

      </div>
    </a>
  </div>
  <div class="site-header__search">
    <div class="c-search">
      <input  autocapitalize="off"
             autocorrect="off" class="form-control search"
             placeholder="جستجو در به قیمت ..."  spellcheck="off" type="text">

      <i class="pi pi-search" style="margin-top: -34px;margin-right:-2rem;position: absolute;font-size: 1.2rem"></i>

    </div>

  </div>
  <div class="site-header__phone">
    <div class="site-header__phone-title" style="font-family: IRANSans_Bold;color: #555555">
      پشتیبانی
    </div>
    <div class="site-header__phone-number">
       <a href="tel:+982126156548" style="color: #555555;font-size: 14px">021-26156548</a>
    </div>
  </div>
</div>
