<app-header dir="rtl"></app-header>
<div class="about-us-wrapper mt-5 text-right" dir="rtl">
  <div class="container">
    <div class="about-section row">
      <div class="col-sm-12 col-lg-6 d-block m-auto">
        <img alt="" src="assets/bootstrap/img/about.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="about-us-intro">
          <h2>فروشگاه آنلاین اینترنتی به قیمت</h2>
          <p>فروشگاه اینترنتی به قیمت فعالیت خود را از سال 1399 در حوزه فروش آنلاین انواع محصولات آغاز نموده است. به
            قیمت فعال در حوزه بازاریابی و فروش انواع کالاهای تولید کننده ها و همچنین برای اولین بار طرف قرارداد پست می
            باشد. ارسال سریع و آسان به تمام نقاط ایران، تامین کالاهای با کیفیت از برند های معتبر ایرانی و مشاوره تخصصی
            در حوزه خرید، از ابتدا جزء مهم ترین اهداف فروشگاه به قیمت بوده است. در این فروشگاه تنوع کاملی از محصولات در
            حوزه های مختلف را پیدا خواهید کرد. با ما به قیمت خرید کنید. تولید کننده های مختلف در سراسر کشور طرف قرارداد
            به قیمت می باشند.به قیمت فروش را آغاز تعاملی با مشتریان خود می داند تا با آسودگی خاطر تمامی نیازهای مشتریان
            را فراهم نماید. به قیمت بعنوان یک فروشگاه اینترنتی رعایت جانب انصاف و صداقت بعنوان اصلی ترین پایه این اعتماد
            را سرلوحه کار خود می داند و همواره سعی در گسترش خدمات خود خواهد داشت به نحوی که بزودی خدمات نوینی را در
            راستای ارائه خدمات هر چه بهتر به کاربران و خریداران رونمایی خواهد کرد.

            نظرات، انتقادات و پیشنهادات سازنده شما کاربران گرامی همواره چراغی فراراه مدیران سایت است. </p>
          <div class="accordions">
            <mat-accordion class="mat-accordion">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <h4>چرا به قیمت؟</h4>
                </mat-expansion-panel-header>
                <p>
                  رویکرد به قیمت ارائه بهترین خدمات به خریداران است و بدیهی است ارسال و تحویل کالا در کمترین زمان ممکن
                  راحتی خریدار و به قیمت بودن کالاها باتوجه به کیقیت محصول یکی از دغدغه های مهم ما باشد. در حال حاضر به
                  قیمت تمامی محصولات خود را به سراسر ایران با مناسی ترین قیمت ارسال میکند.با ما به قیمت خرید کنید و تجربه ای متفاوت از یک خرید آسان خواهید داشت. چشم انداز آینده به قیمت فروش
                  جهانی می باشد.
                </p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <h4>تولید کننده ها و شرکت های طرف قرارداد</h4>
                </mat-expansion-panel-header>
                <p>
                  -شرکت ملی پست<br/>
                  -موبایل فرهادی<br/>
                  -تولید کننده پک تزیینات چوبی یومارت<br/>
                </p>
              </mat-expansion-panel>
              <mat-expansion-panel class="mat-expansion-panel">
                <mat-expansion-panel-header>
                  <h4>روش های برقراری ارتباط</h4>
                </mat-expansion-panel-header>
                <p>
                  تماس با پشتیبانی و امور مشتریان:<br/>
                  26156548-021<br/>
                  ساعات کاری پشتیبانی از شنبه تا چهارشنبه از ساعت 8:30 الی 21َ<br/>
                  روزهای پنج شنبه 8:30 الی 17 و جمعه ها و ایام تعطیل 11:00 الی 17:00 می باشد.<br/>
                  از طریق چت آنلاین سایت<br/>
                  از طریق ایمیل info@begheymat.com<br/>
                  @begheymat از طریق آیدی تلگرام<br/>
                  @begheymat از طریق آیدی اینستاگرام<br/>
                  تماس با واحد بازرگانی برای تامین کنندگان از طریق ایمیل به info@begheymat.com<br/>
                  آدرس پستی: تهران ، نیاوران، بعد از چهار راه کامرانیه پلاک127 طبقه4 واحد5
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="our-values mt-5">
    <div class="container">
      <div class="title-wrapper">
        <h2>خدمات به قیمت </h2>
      </div>
      <div class="box-wraper row">
        <div class="box col-sm-12 col-lg-3 mt-1">
          <div class="content">
            <div class="icon-box text-center">
              <i class="material-icons"> done_all </i>
            </div>
            <h4 class="text-center">تضمین اصل بودن کالا</h4>
            <p class="text-center">اصل بودن تمامی کالاها در به قیمت تضمین می شود</p>
          </div>
        </div>
        <div class="box col-sm-12 col-lg-3 mt-1">
          <div class="content">
            <div class="icon-box text-center">
              <i class="material-icons"> loyalty </i>
            </div>
            <h4 class="text-center">تخفیف</h4>
            <p class="text-center">با خرید بالای 200 هزار تومان، کیف پول خود را 10 درصد مبلغ خرید شارژ کنید</p>
          </div>
        </div>
        <div class="box col-sm-12 col-lg-3 mt-1">
          <div class="content">
            <div class="icon-box text-center">
              <i class="material-icons"> store </i>
            </div>
            <h4 class="text-center">فروشنده شو</h4>
            <p class="text-center">با ثبت نام به عنوان فروشنده، کسب و کارتو رونق بده</p>
          </div>
        </div>
        <div class="box col-sm-12 col-lg-3 mt-1">
          <div class="content">
            <div class="icon-box text-center">
              <i class="material-icons"> local_shipping </i>
            </div>
            <h4 class="text-center">ارسال سریع</h4>
            <p class="text-center">ارسال کالا درب منزل (تمامی نقاط ایران) در کوتاهترین زمان</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
