<div class="pnl-content p-3">
  <div class="box text-right" dir="rtl">

    <p-table #dt [value]="features" dataKey="id"
             [rows]="5" [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
             styleClass="p-datatable-customers"
             [paginator]="true"
             currentPageReportTemplate="نمایش {first} تا {last} از {totalRecords} صفحه"
             [filterDelay]="0"
             [globalFilterFields]="['titleFarsi','titleLatin']">
      <ng-template pTemplate="caption">
        <div class="table-header row">
          <div class="col-sm-6"> لیست ویژگی های محصول
          </div>
          <div class="col-sm-6 text-left">
            <button pButton (click)="showAddFeatureDialog()" pRipple label="جدید" icon="pi pi-plus" class="p-button-success p-mr-2 p-button-icon-right"></button>
          </div>
          <div class="col-sm-12">
              <span class="p-input-icon-left w-100 mt-3">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                       placeholder="جستجو کلی"/>
              </span>
          </div>

        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="titleFarsi">عنوان فارسی
            <p-sortIcon field="titleFarsi"></p-sortIcon>
          </th>
          <th pSortableColumn="titleLatin">عنوان انگلیسی
            <p-sortIcon field="titleLatin"></p-sortIcon>
          </th>
          <th>عملیات</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'titleFarsi', 'contains')"
                   placeholder="عنوان فارسی" class="p-column-filter">
          </th>
          <th>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'titleLatin', 'contains')"
                   placeholder="عنوان انگلیسی" class="p-column-filter">
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-feature let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="feature"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>
            {{feature.titleFarsi}}
          </td>
          <td>
            {{feature.titleLatin}}
          </td>
          <td>
            <button pButton pRipple icon="pi pi-plus"
                    (click)="showAddFeatureValueDialog(feature.titleFarsi, feature.titleLatin)"
                    class="p-button-rounded p-button-success p-ml-2 text-white"></button>

            <button pButton pRipple icon="pi pi-pencil"
                    (click)="showEditFeatureDialog(feature.id, feature.titleFarsi, feature.titleLatin)"
                    class="p-button-rounded p-button-warning p-ml-2 text-white"></button>
            <button pButton pRipple (click)="deleteFeature(feature.id)"
                    icon="pi pi-trash" class="p-button-rounded p-button-danger text-white"></button>
          </td>
        </tr>
      </ng-template>


      <ng-template pTemplate="rowexpansion" let-feature>
        <tr>
          <td colspan="4">
            <div class="p-p-3">
              <p-table [value]="feature.FeaturesValue" dataKey="id">

                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="value">مقدار <p-sortIcon field="value"></p-sortIcon></th>
                    <th>عملیات</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-value>
                  <tr>
                    <td>{{value.value}}</td>
                    <td>
                      <button pButton pRipple icon="pi pi-pencil"
                              (click)="showEditFeatureValueDialog(value.id, value.value)"
                              class="p-button-rounded p-button-secondary p-ml-2 text-white"></button>
                      <button pButton pRipple  (click)="deleteFeatureValue(value.id)"
                              icon="pi pi-trash" class="p-button-rounded p-button-secondary text-white"></button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="2">هیچ مقداری ثبت نشده است.</td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">هیچ رکوردی یافت نشد.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
