.box{
  border-radius: 0 0 8px 8px;
  margin-bottom: 30px;
  transition: all .5s ease;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
}

h2, h4{
  font-family: IRANSans_Bold;
}
b{
  font-size: larger;
  font-family: IRANSans_Bold;
  color: #EF2B2F;
}
