<div class="container-fluid" dir="rtl">
    <div class="row pb-3 justify-content-center">
      <div class="col-sm-8 align-items-center">
        <div class="row mt-5 justify-content-center text-center">
          <div class="col-6">
            <h2>
              ورود به مرکز فروشندگان
            </h2>
            <h4>
              با <b>به قیمت</b>
              کسب و کارتو
              رونق بده!
            </h4>
          </div>
        </div>
        <div class="row mt-3 justify-content-center">

          <div class="col-6">
            <div class="box">
            <form (ngSubmit)="login()" [formGroup]="form" class="w-100">
              <div class="row login-wrap rtl">
                <div class="col-12 text-center">
                  <div class="form-group">
                  <span class="p-input-icon-right w-100">
                    <i class="pi pi-user text-dark"></i>
                  <input class="form-control" formControlName="mobile" maxlength="11"
                         minlength="11"
                         name="mobile" pInputText
                         placeholder="شماره موبایل" required>
                  </span>

                  </div>
                </div>
                <div class="col-12 text-center">
                  <div class="form-group mb-3">
                  <span class=" p-input-icon-right w-100">
                  <i class="pi pi-eye text-dark"></i>
                  <input class="form-control" formControlName="password"
                         minlength="6"
                         name="password" pInputText
                         placeholder="کلمه عبور" required type="password">
                  </span>
                  </div>
                </div>
                <div class="col-12 text-right">
                <span class="float-right text-right login-link pointer">
                  <i class="pi pi-key text-dark ml-3"></i> کلمه عبور خود را فراموش کرده ام
                </span>
                </div>
                <div class="col-md-12 col-lg-12 pt-4">
                  <div class="text-center">
                    <button [disabled]="form.invalid" class="btn btn-block btn-primary" mat-raised-button
                            type="submit">ورود
                    </button>
                  </div>
                </div>
              </div>
            </form>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
