.filter-box{
  border-radius: 0 0 8px 8px;
  margin-bottom: 30px;
  transition: all .5s ease;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}
.category-box h2{
  border-bottom: 1px #f2f2f2 solid;
  font-family: IRANSans_Bold;
  font-size: larger;
}

.filter-box ul{
  padding: 0;
}
.filter-box .list-group-item {
  list-style-type: none;
  width: 100%;
  color: #4D4D4D;
  display: block;
  font-size: 15px;
  border: none;
}
.filter-box .list-group-item-text li {
  list-style-type: none;
  width: 100%;
  color: #4D4D4D;
  display: block;
  font-size: 14px;
  border: none;
  line-height: 30px;
  cursor: pointer;
}
h4{
  font-family: IRANSans_Bold!important;
  margin: 0px;
}
.filter-box .list-group-item:hover {
  cursor: pointer;
  border-radius: 40px;
  background-color: #CC3333;
  color: #fff;
}
hr{
  margin: unset!important;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
  background: #CC3333;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer.ng5-slider-active::after {
  transform: scale(1);
  opacity: 1;
  background-color: rgba(255,64,129,.2);
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 12px;
  height: 12px;
  top: -5px;
  background-color: #ea3455;
  outline: none;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  position: absolute;
  top: -9px;
  left: -9px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),opacity .4s cubic-bezier(.25,.8,.25,1);
}

.listing-header {
  position: relative;
  border-radius: 0 0 8px 8px;
  transition: all .5s ease;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  z-index: 2;
  overflow: hidden;
  text-align: right;
}
.listing-sort {
  list-style: none;
  line-height: 34px;
  padding: 0;
  margin-top: 1px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 44px;
  margin: 0!important;
}
.listing-sort:before {
  display: inline-block;
  content: attr(data-label);
  color: #4D4D4D;
  margin-left: 15px;
  font-size: 16px;
  line-height: 21px;
  vertical-align: middle;
  white-space: nowrap;
  font-family: IRANSans_Bold;
}
.listing-sort li {
  display: inline-block;
}
.listing-sort li a {
  color: #4D4D4D;
  display: block;
  padding: 0 10px;
  position: relative;
  font-size: 12px;
  font-size: .857rem;
  line-height: 25px;
  vertical-align: middle;
  border-radius: 8px;
  white-space: nowrap;
}
.listing-sort li a:hover {
  background-color: #ece9e9;
}
.listing-sort li a.is-active, .listing-sort li a.is-active:hover  {
  background-color: #CC3333;
  color: #fff;
}

@media (max-width: 991px) {
  .order-wrapper, .filter-pc-wrapper{
    display: none;
  }
  .filter-actions-wrapper{
    display: block;
  }
  .filter-actions-wrapper {
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    padding: 10px 8px;
  }
  .filter-actions {
    background-color: #CC3333;
    color: rgb(255, 255, 255);
    display: block;
    height: 38px;
    padding: 11px 0px;
    border-radius: 10px;
  }
  .filter-actions .side-toggle {
    border-left: 1px solid rgb(255, 255, 255);
  }
  .filter-actions a {
    display: flex;
    float: right;
    width: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }
  .filter-actions i {
    font-size: 20px;
    margin-left: 3px;
  }
}
@media (min-width: 992px) {
  .filter-actions-wrapper{
    display: none;
  }
  .order-wrapper, .filter-pc-wrapper{
    display: block;
  }
}

.block-products-carousel-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}
.block-products-carousel-cell {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.block-products-carousel-cell .product-card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.product-card-layout-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.product-card-layout-grid .product-card-actions-list {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  left: 0;
}
.product-card .product-card-action {
  position: relative;
  display: block;
  padding: 8px;
  margin: 0;
  border: none;
  transition: color .08s,background .08s;
  background-color: #fff;
  color: #ccc;
}
.product-card .product-card-action:last-child {
  border-bottom-left-radius: 2px;
}
.product-card-layout-grid .product-card-image {
  display: block;
  position: relative;
}
.image-type-category .image-body, .image-type-product .image-body {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
img.image-tag {
  display: block;
  width: 100%;
}
.product-card-layout-grid .product-card-fit {
  position: absolute;
  bottom: 8px;
  right: 13px;
}
.status-badge {
  display: inline-block;
  vertical-align: middle;
  cursor: default;
}
.status-badge-style-success .status-badge-body {
  background-color: #e2f2da;
  color: #44782a;
}
.status-badge-body {
  position: relative;
  min-height: 23px;
  border-radius: 11.5px;
  min-width: 31px;
}
.status-badge-icon {
  fill: #5C8B45;
  position: absolute;
  top: calc(50% - 6.5px);
  opacity: .85;
  left: 9px;
}
.product-card-actions-list button svg{
  fill: #CCCCCC;
}
.product-card-actions-list button:hover svg{
  fill: #CC3333;
}
.product-card-layout-grid .product-card-fit .status-badge-text {
  display: none;
}
.status-badge-has-icon .status-badge-text {
  padding-left: 28px;
}
.status-badge-text {
  font-size: 13px;
  line-height: 15px;
  padding: 4px 12px;
}
.product-card-layout-grid .product-card-fit .status-badge-tooltip {
  display: block;
}
.status-badge-has-text .status-badge-tooltip {
  display: none;
}
.status-badge-tooltip {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.product-card-layout-grid .product-card-meta {
  padding: 6px 16px;
}
.product-card .product-card-meta {
  font-size: 12px;
  line-height: 1;
  color: #999;
}
.product-card-layout-grid .product-card-name {
  padding: 0 16px;
  line-height: 1.1875;
  direction: rtl;
}
.product-card .product-card-name a {
  color: inherit;
}
.product-card-layout-grid .product-card-footer {
  padding: 16px;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-order: 2;
  order: 2;
}
.product-card-layout-grid .product-card-prices {
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  direction: rtl;
  font-family: IRANSans_Bold;
}
.product-card .product-card-price-new {
  color: #CC3333;
}
.product-card-layout-grid .product-card-price-old {
  font-size: 12px;
  margin-left: 6px;
}
.product-card .product-card-price-old {
  font-weight: 400;
  /*text-decoration: line-through;*/
  color: #999;
}
.product-card-layout-grid .product-card-addtocart-icon {
  margin: -3px;
}
.product-card .product-card-addtocart-icon {
  position: relative;
  border: none;
  padding: 8px;
  border-radius: 2px;
  background: transparent;
  color: #CC3333;
  z-index: 0;
  transition: color .2s;
}
.product-card .product-card-addtocart-icon:before {
  top: -2px;
  left: -2px;
  display: block;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: transparent;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
  transition: transform .2s,background .2s;
}
.product-card .product-card-addtocart-icon svg {
  display: block;
  fill: #CC3333;
}
.product-card-layout-grid:after {
  display: block;
  position: static;
  content: "";
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
img.image-tag {
  padding: 15px;
}
.product-card-layout-grid .product-card-badges {
  position: absolute;
  top: 16px;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  right: 16px;
}
.tag-badge-sale {
  color: #fff;
  font-family: IRANSans_Bold;

}
.tag-badge {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  z-index: 0;
  height: 18px;
  padding: 4px 14px 0;
}
.tag-badge-sale:before {
  background: #CC3333;
}
.tag-badge:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 2.5px;
  transform-origin: center;
  left: 3.5px;
  right: 3.5px;
  transform: skewX(20deg);
}
.block-products-carousel-cell .product-card:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}
.product-card:hover product-card-addtocart-icon svg {
  fill: #ffffff!important;
}
.product-card:active .product-card-addtocart-icon:before,
.product-card:hover .product-card-addtocart-icon:before {
  transform: scale(1);
  background: #CC3333;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(204, 51, 51);
}
:host ::ng-deep .product-card:hover .product-card-addtocart-icon svg {
  fill: #ffffff!important;
}
:host ::ng-deep .product-card-actions-list button:hover svg path {
  fill: #CC3333!important;
}


:host ::ng-deep  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  margin-right: 0.5rem;
  position: absolute;
  left: 10px;
}

:host ::ng-deep  .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #dee2e6;
  color: #4d4d4d;
  background: #ffffff;
}

:host ::ng-deep  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: #ffffff!important;
  color: #4d4d4d!important;
}
:host ::ng-deep  .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  background: #ffffff!important;
  color: #4d4d4d!important;
}
:host ::ng-deep  .p-accordion .p-accordion-content {
  border: none!important;
}
:host ::ng-deep  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
  box-shadow: none!important;
}
:host ::ng-deep .pi-chevron-right:before {
  content: "\e900";
}


input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
}
label.color {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label.color:hover span {
  transform: scale(1.25);
}
label.color span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .2s ease-in-out;
}


.product-pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.product-pagination ul {
  border-radius: 5px;
  overflow: hidden;
}
.product-pagination li {
  display: inline-block;
  border: 1px solid #ECEEEF;
}
.product-pagination li a {
  display: flex;
  padding: 12px 15px;
  color: #CC3333;
  background: #fff;
}
.product-pagination li a:hover {
  background: #D7D7D7;
}

.product-pagination .pg.active a {
  background: #CC3333;
  color: #fff;
}
.product-pagination .pg.active a:hover {
  background: #CC3333;
}
.product-pagination .no a {
  color: gray;
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #CC3333;
}
:host ::ng-deep .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: #CC3333;
}

:host ::ng-deep .p-sidebar{
  overflow-y: scroll;
}


.vertical-sort{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.vertical-sort li{
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.vertical-sort li.is-active, .vertical-sort li.is-active:hover  {
  background-color: #CC3333;
  color: #fff;
}
 h3, .searchText, label{
   font-family: IRANSans_Bold;
 }
.textDialog{
  text-align: justify;
  text-justify: inter-word;
  font-size: 12px;
  color: #EF2B2F;
}
:host::ng-deep.p-dialog .p-dialog-header {
  font-size: 13px;
  color: #777777!important;
  padding: 0.2rem!important;
  padding-top: 15px!important;
}
:host::ng-deep.p-dialog .p-dialog-footer {
  padding: 0.5rem!important;

}
:host::ng-deep.p-dialog .p-dialog-content {
  margin-top: -15px!important;
}


:host ::ng-deep .pagination .page-item.active .page-link {
  background-color: #cc3333;
}
:host ::ng-deep .page-item.active .page-link {
  background-color: #cc3333;
  border-color: #cc3333;
}
:host ::ng-deep .pagination .page-item.active .page-link:hover {
   background-color: #cc3333;
 }
:host ::ng-deep .page-item.disabled .page-link {
     background-color: unset!important;
     border-color: unset!important;
}
:host ::ng-deep .page-item.first-item a{
  font-size:0;
}
:host ::ng-deep .page-item.first-item a:after {
  content: '<<';
  font-size:16px;
}

:host ::ng-deep .page-item.previous-item a{
  font-size:0;
}
:host ::ng-deep .page-item.previous-item a:after {
  content: '<';
  font-size:16px;
}
:host ::ng-deep .page-item.last-item a{
  font-size:0;
}
:host ::ng-deep .page-item.last-item a:after {
  content: '>>';
  font-size:16px;
}

:host ::ng-deep .page-item.next-item a{
  font-size:0;
}
:host ::ng-deep .page-item.next-item a:after {
  content: '>';
  font-size:16px;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: unset!important;
}


.bg-pagination{
  margin-top: 10px;
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product-title:hover{
  color: #CC3333!important;
}
