<!--<div class="container-fluid mt-5 horizontal-scrollable">-->
<!--  <div class="row justify-content-center feature-row" dir="rtl">-->
<!--    <div class="col-sm-6 col-lg-2 col-lg-offset-1 align-items-center text-center">-->
<!--      <img src="assets/bootstrap/img/features-2.svg" alt="" class="d-block m-auto">-->
<!--      <p>پشتیبانی 24 ساعته</p>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-2 text-center">-->
<!--      <img src="assets/bootstrap/img/features-3.svg" alt="" class="d-block m-auto">-->
<!--      <p>پرداخت آنلاین</p>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-2 text-center">-->
<!--      <img src="assets/bootstrap/img/features-4.svg" alt="" class="d-block m-auto">-->
<!--      <p>7 روز ضمانت بازگشت</p>-->
<!--    </div>-->
<!--    <div class="col-sm-6 col-lg-2 text-center">-->
<!--      <img src="assets/bootstrap/img/features-5.svg" alt="" class="d-block m-auto">-->
<!--      <p>ضمانت اصل بودن تمامی کالاها</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid mt-5">
  <div class="row justify-content-center feature-row py-4">
    <div class="col-12">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide class="feature-item">
          <div class="box">
          <img src="assets/bootstrap/img/svg/return.svg" alt="" class="d-block m-auto">
          <p dir="rtl">7 روز ضمانت بازگشت</p>
          </div>
        </ng-template>
        <ng-template carouselSlide class="feature-item">
          <div class="box">
          <img src="assets/bootstrap/img/svg/support.svg" alt="" class="d-block m-auto">
          <p>پشتیبانی 24 ساعته</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
          <img src="assets/bootstrap/img/svg/authenticity.svg" alt="" class="d-block m-auto">
          <p>ضمانت اصالت</p>
          </div>
        </ng-template>
        <ng-template carouselSlide class="feature-item">
          <div class="box">
          <img src="assets/bootstrap/img/svg/express.svg" alt="" class="d-block m-auto">
          <p>تحویل سریع</p>
          </div>
        </ng-template>
        <ng-template carouselSlide class="feature-item">
          <div class="box">
          <img src="assets/bootstrap/img/svg/payment.svg" alt="" class="d-block m-auto">
          <p>پرداخت آنلاین</p>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
