<app-header dir="rtl"></app-header>
<section class="faq-area mt-5 text-right" dir="rtl">
  <div class="container">
    <div class="row faq-wrap">
      <div class="col-lg-12">
        <div class="faq-item">
          <mat-accordion>
            <mat-expansion-panel style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
              <mat-panel-title>
                شرایط استفاده از کد تخفیف اولین خرید از به قیمت چیست؟
              </mat-panel-title>
            </mat-expansion-panel-header>
              <p>
                سیستم هوشمند به قیمت، پس از بررسی حساب کاربری در صورتی که مالک آن مشتری جدید به قیمت باشد، امکان استفاده از کد تخفیف خرید اول را ایجاد می کند و در سایر موارد به کاربر متن "کد تخفیف وارد شده، تنها برای کاربران جدید قابل استفاده است و طبق بررسی ها شما به عنوان کاربر جدید شناسایی نشدید" اعلام می شود.
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel  style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چرا به شماره سفارش نیاز داریم؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                به قیمت برای افزایش سرعت پاسخ گویی به مشتریان با دریافت کد سفارش این امکان رو ایجاد کرده که بتونید در زمان کمتری به نتیجه مورد نظر خود برسید
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چطور درخواست خود را جهت بازگردان کالا (مرجوعی کالا) به شما اطلاع دهم؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                وارد پنل کاربری خود، لیست سفارشات، تحویل شده شوید و از قسمت ثبت مرجوعی، درخواست خود را ثبت کنید.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel style="border-radius: 5px"  opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چطور میتوانم بدون برقراری تماس، درخواست مرجوعی کالای خریداری شده را اعلام کنم؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                شما میتواند وارد پنل کاربری خود شوید و از قسمت درخواست مرجوعی ، فرم درخواست را تکمیل کنید.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چطور میتوانم سفارشم را لغو کنم ؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                شما میتوانید با مراجعه به پنل کاربری خود سفارش یا مرسوله ایی که از ارسال آن منصرف شدید را لغو نمایید.
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چطور میتوانم امتیاز‌ بگیریم؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                شما از سه راه می‌توانید امتیاز بگیرید:
                خرید کالا، ثبت نظر، دعوت از دوستان برای خرید از دیجی‌کالا              </p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چطور میتوانم سفارشم را پیگیری کنم ؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                وارد سایت به قیمت شوید.
                روی گزینه سفارش های من کلیک کنید.
                در این قسمت با کلیک روی جزییات میتوانید سفارش خود را ببینید.
                میتوانید در این قسمت روند آماده سازی و مراحل ارسال سفارش خود را پیگیری کنید.              </p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 5px" opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  چطور میتوانم کیف پول خود را شارژ کنم ؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
              با هر خرید بالای 200 هزار تومان 10% مبلغ خرید کیف پول شما شارژ می شود که در خرید های بعدی می توانید از آن استفاده نمایید.
              </p>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
