<div class="mobile-header__panel">
  <div class="container">
    <div class="mobile-header__body">
      <button type="button" class="mobile-header__menu-button" (click)="openMobileMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" class="">
          <path d="M0 8V6h18v2H0zm0-8h18v2H0V0zm14 14H0v-2h14v2z"></path>
        </svg>
      </button>
      <a class="mobile-header__logo">
        <img height="25px"  src="./assets/bootstrap/img/farsi.png" >
      </a>
      <div class="mobile-header__indicators">

        <div class="d-lg-none indicator indicator--trigger--click indicator--mobile">
          <button type="button" class="indicator__button" (click)="openSearch()">
            <span class="indicator__area"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="">
                <path
                  d="M19.2 17.8s-.2.5-.5.8c-.4.4-.9.6-.9.6s-.9.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9-1 .8-2.4 1.3-3.9 1.3-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7c0 1.5-.5 2.9-1.3 4 1.1.8 2.5 2 4 3.1 2.3 1.7 1.5 2.7 1.5 2.7zM8 3C5.2 3 3 5.2 3 8s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5z">
                </path>
              </svg>
              <!----></span></button>
          <!---->
        </div>
        <div class="topbar__item mt-2">
          <div #accountDropDown class="topbar-dropdown">
            <button type="button" class="topbar-dropdown__btn"
                    (click)="toggleAccountDropDown()"
              (clickOutside)="closeAccountDropDown()">

              <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="">
                <path
                  d="M13.7 10.7C15.1 9.6 16 7.9 16 6c0-3.3-2.7-6-6-6S4 2.7 4 6c0 1.9.9 3.6 2.3 4.7C2.6 12.2 0 15.8 0 20h2c0-4.4 3.6-8 8-8s8 3.6 8 8h2c0-4.2-2.6-7.8-6.3-9.3zM6 6c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4-4-1.8-4-4z">
                </path>
              </svg>
              <!-- <i class="fa fa-user ml-2" style="font-size: 1rem;color: #fff"></i> -->
            </button>
            <div class="topbar-dropdown__body">
              <div class="menu menu--layout--topbar">
                <div class="menu__submenus-container"></div>
                <ul class="menu__list">
                  <li class="menu__item">
                    <div class="menu__item-submenu-offset"></div>
                    <a class="menu__item-link"> <i class="fa fa-user fa-1x ml-3" style="color:#777"></i>پنل کاربری</a>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-submenu-offset"></div>
                    <a class="menu__item-link" [routerLink]="['/home/account']"> <i class="fa fa-sign-in fa-1x ml-3" style="color:#777"></i>ورود/ثبت
                      نام</a>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-submenu-offset"></div>
                    <a class="menu__item-link"><i class="fa fa-power-off fa-1x ml-3" style="color:#777"></i>خروج</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="d-lg-none indicator indicator&#45;&#45;trigger&#45;&#45;click indicator&#45;&#45;mobile">-->
<!--          <button type="button" class="indicator__button" >-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="">-->
<!--              <path-->
<!--                d="M14 3c2.2 0 4 1.8 4 4 0 4-5.2 10-8 10S2 11 2 7c0-2.2 1.8-4 4-4 1 0 1.9.4 2.7 1L10 5.2 11.3 4c.8-.6 1.7-1 2.7-1m0-2c-1.5 0-2.9.6-4 1.5C8.9 1.6 7.5 1 6 1 2.7 1 0 3.7 0 7c0 5 6 12 10 12s10-7 10-12c0-3.3-2.7-6-6-6z"></path>-->
<!--            </svg>-->
<!--            <span class="indicator__value">0</span></button>-->
<!--          &lt;!&ndash;&ndash;&gt;-->
<!--        </div>-->
        <div class="indicator indicator--trigger--none indicator--mobile"><a (click)="showModalShoppingCart()"
            class="indicator__button"><span class="indicator__area"><svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="">
                <circle cx="7" cy="17" r="2"></circle>
                <circle cx="15" cy="17" r="2"></circle>
                <path
                  d="M20 4.4V5l-1.8 6.3c-.1.4-.5.7-1 .7H6.7c-.4 0-.8-.3-1-.7L3.3 3.9c-.2-.6-.7-.9-1.2-.9H.4C.2 3 0 2.8 0 2.6V1.4c0-.2.2-.4.4-.4h2.5c1 0 1.8.6 2.1 1.6l.1.4 2.3 6.8c0 .1.2.2.3.2h8.6c.1 0 .3-.1.3-.2l1.3-4.4c0-.2-.2-.4-.4-.4H9.4c-.2 0-.4-.2-.4-.4V3.4c0-.2.2-.4.4-.4h9.2c.8 0 1.4.6 1.4 1.4z">
                </path>
              </svg> <span class="indicator__value">{{countBadge}}</span></span></a>
          <!---->
          <!---->
          <!---->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MENU -->
<p-sidebar class="menuSidebar" Scroll [(visible)]="displayMobileMenu" [blockScroll]="true" [modal]="true"
  position="right">
  <div class=" text-center shoppingMe">
    <img height="30px"  src="./assets/bootstrap/img/begheymat-eng.png" >

  </div>

  <div class="d-flex flex-column">
    <div class="mb-auto">
      <p-panelMenu  [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
    </div>
  </div>
</p-sidebar>

<!--سید خرید-->

<p-sidebar Scroll [(visible)]="display" [blockScroll]="true" [modal]="true" position="left">
  <div class=" text-center shoppingMe">سبد خرید من</div>
  <div class="d-flex flex-column">
    <div class="mb-auto">
      <mat-list dir="rtl">
        <div *ngFor="let item of cartlist">
          <mat-list-item class="mb-3" dir="rtl">
            <mat-icon class="text-left" mat-list-icon><img [src]="item['product']['cartList'].image"
                style="border-left: #e0e0e0  solid 1.3px;height: 70px;width: 90px;margin-top: -10px;margin-left:-30px">
            </mat-icon>
            <div class="text-right  mt-4 titleProduct mr-5" mat-line>{{item['product']['cartList'].title}}</div>
            <div class="d-flex flex-row" mat-line>
              <div class="ml-auto textPrice text-success mr-5 mt-1">
                {{item['product']['cartList'].price}} تومان
              </div>
              <div>
                <i (click)="onDeleteCart(item)" class="fa fa-trash text-danger fa-2x"></i>
              </div>

            </div>

          </mat-list-item>
          <mat-divider></mat-divider>
        </div>


        <div class="d-flex flex-row justify-content-center mt-3">
          <div class=" text-muted titleProduct ml-1"> مجموع سبد خرید:</div>

          <div class="text-success textPrice">
            {{sumOfPrice}} تومان
          </div>
        </div>
      </mat-list>
    </div>
    <div class="mt-5 d-flex flex-row justify-content-center">
      <button class="mr-auto p-button-success p-button-text" label="تکمیل و ثبت سفارش" pButton
        [routerLink]="['/home/cart']" type="button"></button>
      <!--      <button type="button" pButton label=" نمایش سبد خرید" class="p-button-secondary p-button-text"></button>-->
    </div>
  </div>
</p-sidebar>

<!-- Search -->
<p-sidebar Scroll [(visible)]="displaySearch" [modal]="true" position="left">
  <div class="text-center searchText">جستجوی پیشرفته</div>

  <div class="row justify-content-center mt-3 text-right" dir="rtl">


      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="جستجو محصولات">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>


      <div class="col-12 mt-3">

        <p-accordion [multiple]="true">
          <p-accordionTab header="دسته بندی" [selected]="true">
            <mat-selection-list>
              <mat-list-option *ngFor="let cat of categories" checkboxPosition="before">
                {{cat}}
              </mat-list-option>
            </mat-selection-list>
          </p-accordionTab>

          <p-accordionTab header="محدوده قیمت مورد نظر">
            <div class="custom-slider">
              <ng5-slider [(value)]="valueDynamic" [(highValue)]="highValueDynamic" [options]="options">
              </ng5-slider>
            </div>
          </p-accordionTab>

      </p-accordion>
      </div>

      <div class="col-12 mt-5">
        <button mat-raised-button color="primary" class="float-left">جستجو</button>
      </div>


    </div>
</p-sidebar>

<p-dialog [(visible)]="displayForgetpassword" [baseZIndex]="190000" [draggable]="false" [modal]="false"
          [resizable]="false"
          [style]="{width:'30em',borderRadius:'20px'}"
          dir="rtl"
          header="بازیابی کلمه عبور" position="center">
  <div class="row justify-content-center" dir="rtl">
    <div class="col-12 align-items center">
      <form (ngSubmit)="register()" class="w-100">
        <div class="row login-wrap rtl">
          <div class="col-12 text-center">
            <div class="form-group">
              <span class="p-input-icon-right w-100">
                <i class="pi pi-user text-dark"></i>
              <input class="form-control" maxlength="11"
                     minlength="11" name="mobile"
                     pInputText placeholder="شماره موبایل">                  </span>

            </div>
          </div>
          <div class="col-md-12 col-lg-12 pt-4">
            <div class="text-center">
              <button class="btn btn-block btn-primary" mat-raised-button type="submit">ارسال ایمیل بازیابی</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
