<p-toast position="center"></p-toast>


    <p-tabView dir="rtl">
      <p-tabPanel>
        <ng-template pTemplate="header"><i class="pi pi-user-edit p-pl-3 text-white" style="font-size: 1rem"></i> ویرایش اطلاعات کاربری</ng-template>
        <form [formGroup]="formGroup" dir="rtl">
          <p-panel styleClass="mb-3 pt-2" dir="rtl">
            <p-header>
              <p class="text-right titlePanel">اطلاعات و مشخصات کاربری</p>
              <p class="subTitlePanel">لطفا مشخصات خود را کامل و دقیق وارد نمایید</p>
            </p-header>
            <div class="p-fluid">
              <div class="p-md-6">
                <div class="p-field p-grid">
                  <label for="firstName" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">نام:</label>
                  <div class="p-col-12 p-md-9">
                    <input id="firstName" type="text" pInputText [(ngModel)]="user.firstName" formControlName="firstName">
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="lastName" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">نام خانوادگی:</label>
                  <div class="p-col-12 p-md-9">
                    <input id="lastName" type="text" pInputText [(ngModel)]="user.lastName" formControlName="lastName">
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="nationalCode" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">کد ملی :</label>
                  <div class="p-col-12 p-md-9">
                    <input id="nationalCode" type="text" pInputText [(ngModel)]="user.nationalCode" formControlName="nationalCode">
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="mobile" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">شماره همراه:</label>
                  <div class="p-col-12 p-md-9">
                    <p-inputNumber pKeyFilter="num"  mode="decimal"  formControlName="mobile" [(ngModel)]="user.mobile" [useGrouping]="false" minlength="11" maxlength="11"></p-inputNumber>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="phone" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0 text-right"> تلفن ثابت:</label>
                  <div class="p-col-12 p-md-9">
                    <input id="phone" type="text" pInputText [(ngModel)]="user.phone" formControlName="phone">
                  </div>
                </div>
              </div>
            </div>
<!--            <p-footer>-->
<!--              <button  pButton label="ثبت اطلاعات" class="ui-button-success" icon="pi pi-check" iconPos="left"  ></button>-->
<!--            </p-footer>-->
          </p-panel>
          <p-panel styleClass="mb-3 pt-2" dir="rtl">
            <p-header>
              <p class="text-right titlePanel">آدرس </p>
              <p class="subTitlePanel text-right">لطفاً آدرس  خود را جهت تسهیل در ثبت سفارش ثبت نمایید .</p>
            </p-header>
            <div class="p-fluid">
              <div class="p-md-8">
                <div class="p-field p-grid">
                  <label for="firstname" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">استان:</label>
                  <div class="p-col-12 p-md-9" dir="rtl">
                    <p-dropdown [options]="cities"  placeholder="استان را انتخاب کنید" optionLabel="name" [showClear]="true" [(ngModel)]="user.state" formControlName="state"></p-dropdown>
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="lastname" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">شهر:</label>
                  <div class="p-col-12 p-md-9">
                    <p-dropdown [options]="cities"  placeholder="شهر را انتخاب کنید" optionLabel="name" [showClear]="true" [(ngModel)]="user.city" formControlName="city"></p-dropdown>

                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="postalCode" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">کدپستی :</label>
                  <div class="p-col-12 p-md-9">
                    <input id="postalCode" type="text" pInputText [(ngModel)]="user.postalCode" formControlName="postalCode">
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label for="phone" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0 text-right">شماره تلفن ثابت:</label>
                  <div class="p-col-12 p-md-9">
                    <input id="phone" type="text" pInputText [(ngModel)]="user.phone" formControlName="phone">
                  </div>
                </div>
                <div class="p-field p-grid">
                  <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">آدرس  :</label>
                  <div class="p-col-12 p-md-9">
                    <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="user.address" formControlName="address"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <p-footer>
              <button  pButton label="ثبت مشخصات" class="ui-button-success" icon="pi pi-check" iconPos="left"  ></button>
            </p-footer>
          </p-panel>




        </form>

      </p-tabPanel>
<!--      <p-tabPanel>-->
<!--        <ng-template pTemplate="header"> <i class="pi pi-unlock p-pl-3 text-white" style="font-size: 1rem"></i>تغییر رمز</ng-template>-->
<!--        <p-panel styleClass="mb-3 pt-2" dir="rtl">-->
<!--          <p-header>-->
<!--            <p class="text-right titlePanel">تغییر رمز عبور</p>-->
<!--            <p class="subTitlePanel text-right">جهت تغییر کلمه عبور میتوانید با وارد نمودن اطلاعات زیر انجام دهید .</p>-->
<!--          </p-header>-->
<!--          <div class="p-fluid">-->
<!--            <div class="p-md-8">-->
<!--              <div class="p-field p-grid">-->
<!--                <label for="password" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">کلمه عبور جدید:</label>-->
<!--                <div class="p-col-12 p-md-8">-->
<!--                  <input id="password" type="text" pInputText>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="p-field p-grid">-->
<!--                <label for="rePassword" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">تکرار کلمه عبور جدید:</label>-->
<!--                <div class="p-col-12 p-md-8">-->
<!--                  <input id="rePassword" type="text" pInputText>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--          <p-footer>-->
<!--            <button  pButton label="تغییر رمز عبور " class="ui-button-success" icon="pi pi-check" iconPos="left"  ></button>-->
<!--          </p-footer>-->
<!--        </p-panel>-->

<!--      </p-tabPanel>-->

    </p-tabView>



