<mat-sidenav-container class="sidenav-container" dir="rtl">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="title-sidebar">فروشنده</mat-toolbar>
    <hr style="margin-top: -10px"/>
    <mat-nav-list>
      <mat-list>
        <mat-list-item class="iran" [routerLink]="['/seller/profile']"> <i class="pi pi-user p-pl-4 text-white" style="font-size: 1rem"></i> اطلاعات کاربری</mat-list-item>
        <mat-divider></mat-divider>

        <div *ngIf="localStorage.userJson.active === true">
          <mat-list-item [routerLink]="['/seller/product']"> <i class="pi pi-file p-pl-4 text-white" style="font-size: 1rem"></i> محصولات من</mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item [routerLink]="['/seller/feature']"> <i class="pi pi-file p-pl-4 text-white" style="font-size: 1rem"></i> ویژگی محصولات</mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <div class="pi pi-bars"></div>
        </button>
      </div>

      <div class="p-d-flex justify-content-center top-row">
        <div class="p-ml-5 text-white text-center">آخرین بازدید : 13 شهریور 1399 ( 10:59 )</div>
        <div class="p-mr-5">
          <a class="text-white" (click)="logOut()"><i class="pi pi-power-off text-white pl-2" ></i>خروج کاربر</a>
        </div>
      </div>
    </p-toolbar>

    <ng-content>
    </ng-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
