<div class="row pnl-content p-3">
  <div class="col-12">
    <div class="box text-right" dir="rtl">

      <p-table #dt [value]="products" dataKey="id"
               [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers"
               [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [filterDelay]="0" [globalFilterFields]="['name','price']">
        <ng-template pTemplate="caption">
          <div class="table-header">
            List of Customers
            <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>نام محصول</th>
            <th>قیمت</th>
          </tr>
          <tr>
            <th>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')" placeholder="نام محصول" class="p-column-filter">
            </th>
            <th>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'price', 'contains')" placeholder="قیمت" class="p-column-filter">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>
              {{customer.name}}
            </td>
            <td>
              {{customer.price}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>
