.page-footer{
  background-color: #4D4D4D;
}
.titleMenu{
  font-family: IRANSans_Bold;
  font-size: 13px;
}
p{
  font-family: IRANSans_Light;
  font-size: 12px;
}
.footer-copyright{
font-size: 12px;
  font-family: IRANSans_Bold;
}

